.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  margin-top: 100px;
  width: 450px;
  height: 300px;
  font-size: 20px;
}

.register {
    margin-top: 100px;
    width: 450px;
    height: 350px;
    font-size: 20px;
}

.login h1,
.register {
    text-align: center;
}

.login input[type="email"],
.register input[type="email"] {
    margin-top: 2rem;
    padding-left: 1rem;
    width: 100%;
}

.login input[type="password"],
.register input[type="password"] {
    margin-top: 1rem;
    padding-left: 1rem;
    width: 100%;
}

.login-btn,
.register-btn {
    background-color: #62F;
    color: #fff;
    margin-top: 2rem;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
}

.login-btn:hover,
.register-btn:hover {
    background-color: rgb(76, 42, 156);
}

.login-container p,
.register-container p {
    font-size: 18px;
}

.login-container label,
.register-container label {
    color: #62F;
    cursor: pointer;
}